* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
  height: 100%;
}

body {
  min-height: 100%;
}

body {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(3, calc(100% / 3));
  background: center/cover, rgba(0, 0, 0, 0.5);
  background-blend-mode: multiply;
  margin: 0;
  padding: 20px;
  transition: background-image 1s ease-in-out;
}

main {
  display: flex;
  justify-content: space-between;
}

header {
  display: flex;
  justify-content: space-between;
}

button {
  border: none;
  background: transparent;
}

input {
  border: none;
  background-color: inherit;
  outline: 0;
}

p,
.date,
.time,
input {
  font-family: Nunito, sans-serif;
  color: aliceblue;
}

p {
  font-size: 40px;
}

@media screen and (max-width:768px) {

  p,
  input.name {
    font-size: 30px;
  }

}

@media screen and (max-width:555px) {
  body {
    display: flex;
    flex-direction: column;
  }

  header {
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: fit-content;
  }

  p,
  input.name {
    font-size: 20px;
  }
}

@media screen and (max-width:420px) {
  body {
    padding: 10px;
  }
}